<!doctype html>
<html>
    <body>
        <a href="/views/index.handlebars" class="backBtn">
             <button>Back</button>
        </a>
        <form>
            <label for="taskName">Task Name:</label><br>
            <input type="text" id="taskName" name="taskName"><br>
            <label for="startTime">Start Time:</label><br>
            <input type="text" id="startTime" name="startTime">
            <button type="submit">Submit</button>
        </form>
       
    </body>
</html>