<html>
    <head>
        <title>Track My Tasks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/index.js"></script>
        {{> facebook}}
        <script src="/js/facebook.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/profile.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="topnav">
            <div>
                <h1>Profile</h1>
            </div>

            <div id="myLinks">
                <a href="/views/index.handlebars">Tasks</a>
                <a href="/log">Time Logs</a>
                <a href="/report">Reports</a>
                <a href="/profile">Profile</a>
                <a href="/views/faq.handlebars">Help</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="changeIcon()">
                <i class="fa fa-bars"></i>
            </a>
        </div>	
        <div class='goBack'>
            <a href="/views/index.handlebars" class="backBtn">
                <button id = 'back'>Back</button>
            </a>
        </div>

        <div class=profileInfo> 
            <h3>Hi</h3> <h3 id="profileName">user</h3> <h3>!</h3>
        </div>

        <div>
            <a href="/views/newpass.handlebars" id="forgot-pass">
                <button class='setting' id='reset'>Reset Password</button>
            </a>
            <br>
            <a href="/">
                <button class='setting' id = 'signout'>Sign Out</button>
            </a>
        </div>
    </body>
</html>