
<html>
<head>
	<title>Track My Tasks | Report</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/index.js"></script>
    <script src="/js/report.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/report.css" rel="stylesheet">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="">
	<div class="topnav">
		<div>
			<h1>Report</h1>
		</div>
		
		<a href="javascript:void(0);" class="icon" onclick="changeIcon()">
			<i class="fa fa-bars"></i>
		</a>

		<div id="myLinks">
			<a href="/views/index.handlebars">Tasks</a>
			<a href="/log">Time Logs</a>
			<a href="/report">Reports</a>
			<a href="/profile">Profile</a>
			<a href="/views/faq.handlebars">Help</a>
		</div>

	</div>
	
        <div class='goBack'>
            <a href="/views/index.handlebars" class="backBtn">
                <button id = 'back'>Back to Tasks</button>
            </a>
        </div>

    <div id="piechart" style="width: 100%; height: 100%"></div>
</body>
</html>
