<html>
    <head>
        <title>Track My Tasks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.js"></script>
        
        <script src="/js/index.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/css/task.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav">
            <div>
                <h1>{{name}}</h1>
            </div>

            <a href="/views/index.handlebars" class="backBtn">
                <button>Back</button>
            </a>

            <div id="myLinks">
                <a href="/views/index.handlebars">Tasks</a>
                <a>Time Logs</a>
                <a>Reports</a>
                <a>Profile</a>
                <a href="/views/faq.handlebars">Help and Tutorial</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="changeIcon()">
                <i class="fa fa-bars"></i>
            </a>

        </div>	

        <div class="info">
            <a>Start {{time}}</a>
            <a>Stop -----</a>
            <a>Time Taken -----</a>
        </div>

        <div class="stopwatch">
            
            <div class="circle">
                <span class="time" id="display">00:00:00</span>
            </div>

            <div class="controls">
                <button class="buttonPlay">
                <img id="playButton" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/play-button_opkxmt.svg" />

                <img id="pauseButton" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/pause-button_pinhpy.svg" />
                </button>

                <button class="buttonReset">
                <img id="resetButton" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/reset-button_mdv6wf.svg" />
                </button>
            </div>
        </div>
        <script src="/js/task.js"></script>
    </body>
</html>