    h1 {
        text-align: center;
    }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    left: 10;
    top: 15;
  }

  .topnav a.editBtn {
    display: block;
    position: absolute;
    right: 10;
    top: 15;
  }
 /* 
  .task a.name {
    display: block;
    position: absolute;
    left: 10;
  }

  .task a.time {
    display: block;
    position: absolute;
    right: 10;
  }
*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }

  .addTask a.addBtn {
    display: block;
    position: absolute;
    left:50%;
  }

  