h1 {
    text-align: center;
}

.topnav {
overflow: hidden;
position: relative;
}

.topnav a {
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.topnav #myLinks {
display: none;
}

.topnav a.icon {
background: white;
display: block;
position: absolute;
left: 10;
top: 15;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}


.vertical-menu {
width: 500px;
}

.vertical-menu a {
background-color: #eee;
color: black;
display: block;
padding: 15px;
text-decoration: none;
}

.vertical-menu a:hover {
background-color: #ccc;
}



