h2 {
    text-align: center;
}

.day {
    text-align: center;
}

.vertical-menu {
    overflow: auto;
	position:relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    border-radius: 2px;
    height: 100%;
    padding-bottom: 40px;
}
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-radius: 20px;
    margin-top: 5px
}


.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a:active {
    transform: translateY(3px);
}

p{
    margin: 16px 0px 6px 8px;
    font-size: 17px;
}



